@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Bebas+Neue&family=Special+Gothic+Expanded+One&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/*Bebas Neue*/
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Bebas+Neue&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Special+Gothic+Expanded+One&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@media (max-width: 920px) {
    .cabecalho{
       padding: 100%;
    }
    .cabecalho__menu{
        justify-content: center;
    }
    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }
    .apresentacao___conteudo{
        width: auto;
    }
    #html{
        margin: auto;
    }
}

*{
    margin: auto;
    margin: 0;
    padding: 0;

}
:root{
    --cor-principal: black;
    --cor-secundaria: white;
    --cor-terciaria: aqua;

    /* Fonte */
    --fonte-principal: "montserrat" sans-serif;
    --fonte-segundaria: "Bai Jamjuree" sans-serif;
}

body{
    box-sizing: border-box;
    height: 100vh;
    color: var(--cor-secundaria);
    background-color: var(--cor-principal);
    margin:auto;
}
.cabecalho{
    padding: 2% 0% 0% 15%;
    background-attachment: local;
}
.cabecalho__menu{
    font-family: var(--fonte-segundaria);
    display: flex;
    gap: 80px;
}

.cabeclaho__links{
    font-family: "Bai Jamjuree";
    font-size: 1.5rem;
    font-weight: 600px;
    text-decoration: none;
    color: var(--cor-terciaria);
}
.cabeclaho__links:hover{
    text-decoration: underline;
    color: var(--cor-secundaria);
    transition: 0.3s;
}

.apresentacao__conteudo__titulo{
    margin-bottom: 30px;
    line-height: 45px;
    font-family: "Bai Jamjuree";
    font-size: 36px;
}
.apresentacao___conteudo{
    display: flex;
    flex-direction: column;
}
.apresentacao__text{
    text-indent: 10px;
    font-family: "Bebas Neue";
    font-size: 2rem;
    padding-bottom: 1rem;
}
.apresentacao{
    gap: 82px;
    margin: 8% 15%;
    padding: 2%;
    display: flex;
    justify-content: space-evenly;
    
}
.apresentacao___links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: var(--cor-secundaria);
    
}
.apresentacao___links__link{
    font-family: "Bai Jamjuree";
    display: flex;
    justify-content: center;
    gap: 16px;
    font-size: 24px;
    text-decoration: none;
    text-align: center;
    margin: 20px 15px;
    padding: 20px 40px;
    border-radius: 5px;
    font-weight: bolder;
    border: var(--cor-terciaria) 2px solid;
    color: var(--cor-secundaria);
    width: 280px;
}

.apresentacao___links__link:hover{
    transition: 0.7s;
    border-radius: var(--cor-principal) 2px solid;
    background-color: var(--cor-secundaria);
    color: var(--cor-principal);
}

.titulo{
    color: var(--cor-terciaria);
}

.rodape{
    text-align: center;
    margin: auto;
    background-color: var(--cor-terciaria);
    font-family: monospace;
    font-size: 18px;
    padding: 20px;
    color: var(--cor-principal);
    width: 100vw;
}
.rodape:hover{
    text-decoration: underline;
    color: var(--cor-secundaria);
    transition: 0.8s;
}

strong{
    color: blueviolet;
}
#html{
    height: 50%;
    width: 50%;
}
